@import 'app/_colors'
@import 'app/_shadows'
@import 'app/_dashboard'

.card
  padding 10px
  border-radius 3px
  position relative
  background-color white !important


.card-material
  padding 10px
  border-radius 3px
  shadow(2)
  background-color white !important
  position relative

.ox-toolbar
  background-color lightblue