@import 'app/_colors'
@import 'app/_shadows'
@import 'app/_animations'
@import 'app/_dashboard'
@import 'app/_charts'
@import 'app/_cards'
@import 'app/_toolbar'
@import 'app/toolbar/_toolbar-top'
@import 'app/toolbar/_toolbar-left'
@import 'app/toolbar/_toolbar-right'

body
  margin 0px
  padding 0px

.row
  margin 10px
