// .ox-toolbar

//   &.ox-toolbar-right
//     background paleBlue
//     position absolute
//     width 250px
//     height 100%
//     box-shadow 0 19px 38px rgba(0,0,0,0.30)

//     // width: 220px;
//     // height: 100%;
//     position absolute
//     top 0
//     right -200px
//     // padding 15px

//     // Snappy
//     // -webkit-transition all 300ms cubic-bezier(.694, .0482, .335, 1)
//     // transition all 300ms cubic-bezier(.694, .0482, .335, 1)

//     .tool
//       // float right
//       position relative
//       margin-right 200px
//       width 40px

//       @media(min-width 768px)
//         width 60px
//         margin-right 190px

//     @media(min-width 768px)
//       // left -190px
//       width 250px
//       right -190px




// .has-ox-toolbar-right

//   .dashboard-view
//     width calc(100% - 50px)
//     // right 50px

//     @media(min-width 768px)
//       width calc(100% - 60px)
//       // right 60px



// .show-toolbar-right
//   .dashboard-content
//     -webkit-transform: translateX(-190px);
//     transform: translateX(-190px);
//     transform: translate3d(-190px, 0, 0);
//     -webkit-transform: translate3d(-190px, 0, 0);

//   .dashboard-view
//     width calc(100% - 250px)
//     left 190px

//     @media(min-width 768px)
//       // width calc(100% - 250px)

//       // left 190px


//   .ox-toolbar-right
//     width 250px
//     right -190px

//     .tool
//       // background-color none
//       width 100%
//       padding-left 20px
//       text-align left
//       margin 0
//       .title
//         opacity 1
//         margin-right 10px
//         float right
//         display block






// .has-ox-toolbar-right.has-ox-toolbar-left

//   .dashboard-view
//     width calc(100% - 100px)
//     // left 50px

//     @media(min-width 768px)
//       width calc(100% - 120px)
//       // left 60px
// .show-toolbar-left.has-ox-toolbar-right

//   .ox-toolbar-right
//     right 0px

//   .dashboard-view
//     width calc(100% - 310px)

// .show-toolbar-right.has-ox-toolbar-left

//   .ox-toolbar-left
//     left 0px

//   .dashboard-view
//     width calc(100% - 310px)
//     left 250px
