paleBlue = rgba(0, 23, 255, 0.29)
lightRed = rgba(255, 6, 76, 0.48)
lighterRed = lighten(red, 5%)
border-lightRed = rgb(254, 134, 168)


color-lightRed = rgba(255, 6, 76, 0.48)

color-teal         = #31c0be
color-blue         = #66b5d7
color-green        = #60cd9b
color-yellow       = #eec95a
color-orange       = #ef9549
color-red          = #e87352
color-dark         = #242633
color-white        = #ffffff
color-gray         = #555
color-gray-dark    = #333
color-gray-darker  = #222
color-gray-light   = #999
color-gray-lighter = #eee