@import 'app/_colors'
@import 'app/_shadows'
body {
  position relative
  overflow hidden
  width 100%
  height 100%
  background-color color-grey-300
}
.dashboard
  width: 100%;
  height: 100%;
  position: relative;

  // padding: 1% 0; /* Temp: Just spacing. */

.dashboard-content
  width 100%
  height 100%
  position absolute
  right 0

  // Properties set in keyframes
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  // -webkit-transform: translate3d(0, 0, 0);
  // transform: translate3d(0, 0, 0);

.dashboard-view

  overflow scroll
  position absolute
  width 100%
  height 100%
  padding 20px
  margin 0

  @media(min-width 768px)
    width 100%



.ox-list
  list-style none

.ox-item
  height 50px

.testblock
  // -webkit-transition all 1s ease
  // transition all 1s ease
  width 100%
  height 400px
  background color-white
  shadow(2)

