@import 'app/_colors'


.ox-toolbar



  shadow(2)

  &.ox-toolbar-top,
  &.ox-toolbar-bottom
    // background-color color-white
    height 50px

    @media (min-width 768px)
      height 60px


a.tool,
.tool
  margin 0
  overflow hidden
  position relative
  height 50px
  min-width 50px
  font-size 16px
  padding-top 12px
  display block
  text-align center


  .ox-icon
    font-size 25px
    transition all 500ms ease
    -webkit-transition all 500ms ease


  @media (min-width:768px)
    height 60px
    min-width 60px
    font-size 22px
    padding-top 17px
    padding-bottom 10px



